data/classes.dtd

<!ELEMENT classes ANY>
<!--Term0-->
<!ELEMENT 0_A (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_B (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_C (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_D (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_E (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_F (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_G (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_H (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_I (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_J (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_K (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_L (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_M (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_N (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_O (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_P (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_Q (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_R (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_S (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_T (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_U (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_V (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_W (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_X (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_Y (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 0_Z (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!--Term1-->
<!ELEMENT 1_A (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_B (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_C (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_D (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_E (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_F (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_G (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_H (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_I (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_J (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_K (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_L (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_M (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_N (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_O (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_P (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_Q (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_R (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_S (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_T (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_U (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_V (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_W (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_X (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_Y (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 1_Z (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!--Term2-->
<!ELEMENT 2_A (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_B (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_C (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_D (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_E (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_F (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_G (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_H (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_I (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_J (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_K (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_L (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_M (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_N (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_O (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_P (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_Q (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_R (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_S (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_T (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_U (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_V (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_W (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_X (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_Y (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 2_Z (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!--Term3-->
<!ELEMENT 3_A (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_B (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_C (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_D (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_E (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_F (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_G (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_H (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_I (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_J (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_K (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_L (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_M (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_N (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_O (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_P (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_Q (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_R (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_S (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_T (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_U (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_V (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_W (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_X (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_Y (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 3_Z (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!--Term4-->
<!ELEMENT 4_A (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_B (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_C (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_D (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_E (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_F (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_G (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_H (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_I (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_J (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_K (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_L (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_M (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_N (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_O (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_P (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_Q (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_R (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_S (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_T (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_U (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_V (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_W (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_X (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_Y (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 4_Z (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!--Term5-->
<!ELEMENT 5_A (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_B (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_C (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_D (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_E (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_F (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_G (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_H (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_I (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_J (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_K (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_L (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_M (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_N (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_O (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_P (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_Q (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_R (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_S (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_T (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_U (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_V (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_W (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_X (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_Y (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 5_Z (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!--Term6-->
<!ELEMENT 6_A (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_B (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_C (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_D (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_E (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_F (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_G (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_H (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_I (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_J (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_K (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_L (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_M (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_N (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_O (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_P (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_Q (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_R (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_S (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_T (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_U (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_V (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_W (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_X (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_Y (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 6_Z (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!--Term7-->
<!ELEMENT 7_A (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_B (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_C (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_D (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_E (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_F (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_G (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_H (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_I (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_J (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_K (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_L (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_M (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_N (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_O (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_P (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_Q (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_R (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_S (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_T (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_U (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_V (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_W (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_X (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_Y (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 7_Z (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!--Term8-->
<!ELEMENT 8_A (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_B (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_C (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_D (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_E (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_F (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_G (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_H (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_I (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_J (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_K (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_L (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_M (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_N (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_O (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_P (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_Q (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_R (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_S (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_T (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_U (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_V (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_W (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_X (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_Y (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>
<!ELEMENT 8_Z (Name,Day,Start_Time,End_Time,Start_Date,End_Date,Room,Max,Act,Hrs,Teacher+)>


<!ELEMENT Name (#PCDATA)>
<!ELEMENT Day (#PCDATA)>
<!ELEMENT Start_Time (#PCDATA)>
<!ELEMENT End_Time (#PCDATA)>
<!ELEMENT Start_Date (#PCDATA)>
<!ELEMENT End_Date (#PCDATA)>
<!ELEMENT Room (#PCDATA)>
<!ELEMENT Max (#PCDATA)>
<!ELEMENT Act (#PCDATA)>
<!ELEMENT Hrs (#PCDATA)>
<!ELEMENT Teacher (#PCDATA)>